In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('mercedesbenz.csv',usecols=['X1','X2'])

In [3]:
df

     X1  X2
0     v  at
1     t  av
2     w   n
3     t   n
4     v   n
...  ..  ..
4204  s  as
4205  o   t
4206  v   r
4207  r   e
4208  r  ae

[4209 rows x 2 columns]

In [7]:
len(df['X1'].unique())

27

In [10]:
c=df['X1'].value_counts().to_dict()

In [11]:
df['X1']=df['X1'].map(c)

In [12]:
df

       X1  X2
0     408  at
1      31  av
2      52   n
3      31   n
4     408   n
...   ...  ..
4204  598  as
4205   82   t
4206  408   r
4207  251   e
4208  251  ae

[4209 rows x 2 columns]

In [13]:
d=df['X2'].value_counts().to_dict()

In [15]:
df['X2']=df['X2'].map(d)

In [16]:
df

       X1    X2
0     408     6
1      31     4
2      52   137
3      31   137
4     408   137
...   ...   ...
4204  598  1659
4205   82    29
4206  408   153
4207  251    81
4208  251   496

[4209 rows x 2 columns]